
        body {
            height: 100vh;
            margin: 0;
            font-family: Arial, sans-serif;
        } 
        .about-div {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 50%;
            border: 1px solid #7c7c7c;
            padding: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            margin: 200px;
            border-radius: 10px;
        }
        .image-div, .info-div {
            margin: 10px;
        }
        .image-div img {
            width: 200px; /* Set the width of the image */
            height: 200px; /* Set the height of the image to make it square */
            object-fit: cover; /* Ensure the image covers the entire area */
            border-radius: 10px; /* Optional: Add slight rounding to corners */
            box-shadow: 0 4px 8px rgba(161, 161, 161, 0.2); /* Add shadow to the image */
        }
        .download-button {
            display: inline-block;
            padding: 10px 15px;
            font-size: 12px;
            color: white;
            background-color: #15da9f;
            text-decoration: none;
            border-radius: 5px;
            align-self: flex-start; /* Align the button to the right side */
            margin-left: 80vh;
            margin-top: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow to the button */
        }
        .download-button:hover {
            background-color: #008881;
        }

