/*body, html {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}*/
.about-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 36px;
    font-family: Arial, sans-serif;
    margin-bottom: 36px;
}
#redirect-button {
    padding: 15px 30px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#redirect-button:hover {
    background-color: #0056b3;
}
