body {
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.about-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50%;
    border: 1px solid #7c7c7c;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 200px;
    border-radius: 10px;
    flex-direction: row; /* Ensures the content is in a row for larger screens */
}

.image-div, .info-div {
    margin: 10px;
}

.image-div img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(161, 161, 161, 0.2);
}

.download-button {
    display: inline-block;
    padding: 10px 15px;
    font-size: 12px;
    color: white;
    background-color: #15da9f;
    text-decoration: none;
    border-radius: 5px;
    /* align-self: flex-start; */
    margin-left: 80vh;
    margin-top: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.download-button:hover {
    background-color: #038881;
}

/* Responsive design for screen size 1200px and up */
@media (max-width: 1200px) {
    .about-div {
        margin: 150px;
    }
  
}

/* Responsive design for screen size 992px to 1199px */
@media (max-width: 992px) {
    .about-div {
        margin: 100px;
    }
    .download-button {
        margin-left: 60vh;
    }
}

/* Responsive design for screen size 768px to 991px */
@media (max-width: 768px) {
    .about-div {
        margin: 50px;
    }
    .download-button {
        margin-left: 50vh;
    }
}

/* Responsive design for screen size 576px to 767px */
@media only screen and (max-width: 767px) and (min-width: 576px) {
    .about-div {
        margin: 30px;
        flex-direction: column; /* Stacks content vertically for smaller screens */
        align-items: center; /* Center content within the flex container */
    }
    .download-button {
        margin-left: 0; /* Remove the left margin */
        align-self: center; /* Center the button horizontally */
        margin-top: 15px;
        text-align: center; /* Center the text inside the button */
    }
}


/* Responsive design for screen size 401px to 575px */
@media only screen and (max-width: 575px) and (min-width: 401px) {
    .about-div {
        margin: 20px;
        flex-direction: column; /* Stacks content vertically for smaller screens */
    }
    .image-div img {
        width: 140px;
        height: 140px;
    }
    .download-button {
        width: auto;
        text-align: center; /* Center the text */
        font-size: 14px;
        margin-top: 15px;
        align-self: center; /* Center the button */
        margin-left: 0;
    }
}

/* Responsive design for screen size 400px and below */
@media (max-width: 400px) {
    .about-div {
        margin-top: 50%;
        margin: 10px;
        padding: 15px;
    }
    .image-div img {
        width: 120px;
        height: 120px;
        border-radius: 50%;
    }
    .download-button {
        align-content: center;
        width: 20%;
        font-size: 10px;
        margin-top: 10px;
        margin-left: 35vh;
    }
}
