@font-face {
    font-family: institution-name;
    src: url(fonts/kitsune_spirit/KitsuneSpiritDEMO-Regular.otf);
}
@font-face {
    font-family: quote;
    src: url(fonts/bestina_signature/Bestina\ Signature.ttf);
}

.education{
    margin-top: 100px;
}
.quote {
    font-family: 'quote', 'Arial', sans-serif;
    text-align: center;
    font-size: 40px;
    color: #f1f1f1;
    margin: 40px;
    margin-bottom: 50px;
    margin-top: 40vh;
}
.text-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin: 20px 0;
    border-radius: 50px;
    background-color:rgba(255,255,255,0.2);
    width: 39%;
    border: 1px solid black;
    
}

.text-box p{
    text-align: justify;
    margin-left: 20px;

}
h2 {
    text-align: center;
    font-family: "institution-name";
    margin-bottom: 0px;
  
}
h3{
    text-align: center;
    margin-bottom: 0;
}
.text-box.left3 {
    float: left;
    /* border-radius: 0px 80px 80px 0px; */
    border-radius: 80px;
    margin-left: 180px;
    /* animation: slideInLeft 3s forwards; */
    height: 100px;
}


.text-box.left {
    float: left;
    /* border-radius: 0px 80px 80px 0px; */
    border-radius: 80px;
    margin-left: 180px;
    animation: slideInLeft 3s forwards;
    height: 100px;
}
@keyframes slideInLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.text-box.right {
    float: right;
    /* border-radius: 80px 0px 0px 80px; */
    border-radius: 80px;
    /* flex-direction: row-reverse; */
    margin-right: 180px;
    /* animation: slideInRight 3s forwards; */
    height: 100px;
}
/* @keyframes slideInRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
} */

.text-content {
    flex-grow: 1;
}

.box-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 20px;
    border: 2px solid white;
}
.text-box.right  .box-image{
    margin-left: 0;
    margin-right: 20px;
}

/* Responsive Styles */

/* 1200px and below */
@media (max-width: 1200px) {
    .text-box {
        width: 50%;
        margin-left: 100px;
        margin-right: 100px;
    }
}

/* 992px and below */
@media (max-width: 992px) {
    .text-box {
        width: 60%;
        margin-left: 80px;
        margin-right: 80px;
    }

    .text-box.left, .text-box.left3 {
        margin-left: 80px;
    }

    .text-box.right {
        margin-right: 80px;
    }
}

/* 768px and below */
@media (max-width: 768px) {
    .text-box {
        width: 70%;
        margin-left: 60px;
        margin-right: 60px;
    }

    .text-box.left, .text-box.left3 {
        margin-left: 60px;
    }

    .text-box.right {
        margin-right: 60px;
    }
}

/* 767px to 576px */
@media (max-width: 767px) {
    .text-box {
        width: 80%;
        margin-left: 40px;
        margin-right: 40px;
    }

    .text-box.left, .text-box.left3 {
        margin-left: 40px;
    }

    .text-box.right {
        margin-right: 40px;
    }

    .quote {
        font-size: 30px;
        margin-top: 30vh;
    }
}

/* 575px to 401px */
@media (max-width: 575px) {
    .text-box {
        width: 85%;
        margin-left: 20px auto;
        margin-right: 20px;
        flex-direction: column;
        text-align: center;
        height: auto;
        float: none;
    }

    .text-box.left, .text-box.left3, .text-box.right {
        margin-left: 20px;
        margin-right: 20px;
        float: none;
        height: 200px;
    }

    .quote {
        font-size: 25px;
        margin-top: 20vh;
    }

    .box-image {
        margin: 0 auto 20px;
    }
    h2, h3 {
        text-align: center;
    }
}

/* 400px and below */
@media (max-width: 400px) {
    .text-box {
        width: 80%;
        height: auto;
        margin: 10px auto;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        float: none;
    }
    .text-box.left, .text-box.left3, .text-box.right {
        margin-left: 20px;
        margin-right: 20px;

    }

    .quote {
        font-size: 20px;
        margin-top: 15vh;
    }

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 20px;
    }

}

