@font-face {
    font-family: hobby-font;
    src: url(fonts/pink_misty/Pink\ Misty.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
    font-family: sans-serif;
}

body {
    background-image: url('Images/bg1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    color: white;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
    margin-top: 100px;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

#background-container {
    position: fixed;
    top: 100;
    left: 0;
    width: 100%;
    height: 100%;
}
.dropdown {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    padding-left: 35px;
    padding-top: 20px;
   }
   
   .dropbtn {
       background-color: transparent;
       color: white;
       padding: 16px;
       font-size: 16px;
       border: none;
       cursor: pointer;
   }
   
   .dropdown-content {
       display: none;
       position: absolute;
       background-color: transparent;
       min-width: 160px;
       box-shadow: 0px 8px 16px 0px rgba(121, 121, 121, 0.2);
       z-index: 1;
       border: none;
       border-radius: 10%;
   }
   
   .dropdown-content a {
       color: white;
       padding: 12px 16px;
       text-decoration: none;
       display: block;
       opacity: 0;
       transform: translateY(20px);
       animation: slideIn 0.8s forwards;
       border-radius: 15px;
   }
   
   .dropdown-content a:nth-child(1) {
       animation-delay: 0.1s;
   }
   
   .dropdown-content a:nth-child(2) {
       animation-delay: 0.2s;
   }
   
   .dropdown-content a:nth-child(3) {
       animation-delay: 0.3s;
   }
   
   .dropdown-content a:hover {
       background-color: rgb(216, 216, 216, 0.3);
   }
   
   .dropdown:hover .dropdown-content {
       display: block;
   }
   
   @keyframes slideIn {
       to {
           opacity: 1;
           transform: translateY(0);
       }
   }
   
   .footer {
       background-color: #333;
       color: #fff;
       text-align: center;
       padding: 20px 0;
       position:absolute;
       width: 100%;
       bottom: 0;
       display: flex;
       
   }
   
   .footerlogo {
       text-align: left;
       margin-left: 100px;
       margin-top: 10px;
       margin-bottom: 10px;
   }
   
   .footerlogo img {
       height: 60px;
       width: 60px;
   }
   
   .footer-content {
       max-width: 800px;
       margin: 0 auto;
   }
   
   .footer p {
       margin: 0;
       font-size: 14px;
   }
   
   .social-links {
       list-style: none;
       padding: 0;
       margin: 10px 0 0 0;
   }
   
   .social-links li {
       display: inline;
       margin: 0 10px;
   }
   
   .social-links a {
       color: #fff;
       text-decoration: none;
       font-size: 24px;
   }
   
   .social-links a:hover {
       color: #ddd;
   }
.slider-wrapper{
    overflow: hidden;
    max-width: 1200px;
    margin: 0 70px 55px;
}

.card-list .card-item {
    color: white;
    user-select: none;
    padding: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    backdrop-filter: blur(30px);
    background: rgba(255,255,255,0.2);
    border: 1px solid rgba(255,255,255,0.5);
}

.card-list .card-item .user-image{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 40px;
    border: 2px solid white;
    padding: 4px;

}

.card-list .card-item .user-details{
    font-size: 12px;
    color: white;
    font-weight: 500;
    margin: 14px 0 40px;
}
.card-list .card-item .message-button {
    font-size: 11px;
    padding: 10px 35px;
    color:#030728;
    border-radius: 6px;
    font-weight: 500;
    cursor: pointer;
    background: white;
    border: 1px solid transparent;
}

.card-list .card-item .message-button:hover{
    background: rgba(255,255,255,0.1);
    border: 1px solid #fff;
    color: #fff;
    
}
.slider-wrapper .swiper-pagination {
    margin-bottom: 20px; /* Adjust the value as needed */
}
.slider-wrapper .swiper-pagination.bullet{
    background: #fff;
    height: 15px;
    width: 15px;
}
.slider-wrapper  .swiper.slider.button{
    color:#fff;
    margin-top: -50px;
    
}
.slider-wrapper  .swiper.slider.button:hover{
    color: antiquewhite;
}

@media  (max-width: 768px) {
    .slider-wrapper{
        margin: 0 10px 40px;
    }
    .slider-wrapper  .swiper.slider.button{
        display: none;
    }
}