@font-face {
    font-family: hobby-font;
    src: url(fonts/pink_misty/Pink\ Misty.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
    font-family: sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #030728;
}

.card-list .card-item {
    color: white;
    width: 400px;
    padding: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    backdrop-filter: blur(30px);
    background: rgba(255,255,255,0.2);
    border: 1px solid rgba(255,255,255,0.5);
}

.card-list .card-item .user-image{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 40px;
    border: 2px solid white;
    padding: 4px
}

.card-list .card-item .user-details{
    font-size: 12px;
    color: white;
    font-weight: 500;
    margin: 14px 0 40px;
}
.card-list .card-item .message-button {
    font-size: 11px;
    padding: 10px 35px;
    color:#030728;
    border-radius: 6px;
    font-weight: 500;
    cursor: pointer;
    background: white;
    border: 1px solid transparent;
}

.card-list .card-item .message-button:hover{
    background: rgba(255,255,255,0.1);
    border: 1px solid #fff;
    color: #fff;
    
}
