@font-face {
    font-family: hobby-font;
    src: url(fonts/pink_misty/Pink\ Misty.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.card-list .card-item{
    color: white;
    width: 250px;
    padding: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    backdrop-filter: blur(30px);
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.5);
}
.hobby-name{
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 15px;
    padding: 10px 35px;
    color: rgb(255, 255, 255);
    border-radius: 6px;
    font-weight: 500;
    cursor: pointer;
    background: rgb(102, 255, 171);
    border: 1px solid transparent;
    transition: 0.2s ease;
}

.hobby-name:hover{
    background:  rgb(91, 206, 142);
    border: 1px solid white;
    color: white;
}
.hobby-description{
    font-size: 12px;

}
.card-list .card-item .user-image{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
    border: 4px;
    padding: 4px;
}

/* .card-list .card-item.hobby-description{
    font-size: 1.1rem;
    color: antiquewhite;
    font-weight: 500;
    margin-bottom: 10px;

} */
