.mh-skills .mh-professional-skill{
    padding-right: 60px;
    color: white;
}

.mh-skills .mh-professional-skill h3{
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    font-weight: 400;
    margin-bottom: 60px;
    font-family: 'Times New Roman', Times, serif;
}

.mh-professional-skills{
    padding-left: 20%;
}

.mh-professional-skills h3{
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    font-weight: 400;
    margin-bottom: 60px;
    font-family: 'Times New Roman', Times, serif;
}

.mh-professional-progress li{
    display: inline-block;
    margin: 0 auto;
    float: none;
    width: 48%;
    margin-bottom: 30px;
    text-align: center;
}

.mh-progress{
    margin-bottom: 10px;
    font: 900 1.14285/1 Cinzerl, cursive;
    color: white;
}

.mh-progress .progressbar-text{
    color: inherit !important;
    font-family: 'Times New Roman', Times, serif;
}
.progress.progress-line{
    height: 10px;
    margin-right: 60px;
}